$dark-blue: #286e87;
$dark-blue-2: #023744;
$green: #afcd05;
$darker-green: #689202;
$white: #fff;
$grey-5: #f6f6f6;
$grey-20: #dadada;
$grey-60: #878787;
$grey-90: #3c3c3c;
$light-blue: #e8f8fe;
$blue: #4696b4;
$sky-blue: #00a5e1;
$purple: #735aa5;
$dark-red: #a01432;
$red: #e6190f;
$orange: #ff6600;
