<main>
  <div class="container">
    <div class="links">
      <a routerLink="/auctions" class="link">Auctions➡️</a>
    </div>

    <div class="footer">
      <div class="logo-container">
        <a href="https://grexel.com/"
          ><img src="assets/grexel-logo.png" class="logo" alt="grexel-logo"
        /></a>

        <a href="https://www.aspiresys.com/">
          <img src="assets/aspire-logo.png" class="logo" alt="aspire-logo" />
        </a>
      </div>
      <h1>Bartłomiej Sadecki</h1>
    </div>
  </div>
</main>
